.shop-panorama {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#carousel > div {
	margin : 0 auto;
	width: 420px;
	height: 640px;

}

li {
	list-style-type: none;
}

#thumbnail img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}


#carousel {
	margin : 0 auto 40px auto;
	padding: 7px;
	overflow: hidden;
	max-width: 420px;
	max-height: 640px;
	background-color: @black;
	.border-radius(6px);
}

@media (max-width: 654px) {

	#carousel img {

		width : 210px;
	}
	#carousel {

		max-width : 210px;
		max-height : 320px;
	}
	#carousel > div {
		width : 210px;
		height : 320px;
	}
}