{% extends "account/base.html" %}
{% load upload_tags %}


{% block head_title %}Account{% endblock %}

{% block body %}
<div class="container">

        <legend>Manage Article Images</legend>

    {% for image in object_list %}

        <div id="gallery-{{ event.pk }}" data-toggle="modal-gallery" data-target="#modal-gallery">

                
                <div class="span2 thumbnail"><a href="{{ MEDIA_URL }}{{ image.file }}" rel="gallery"><img src="{{image.file.url_250x250}}" alt=""></a>
                    <div class="caption">

                        <div>{{ image.title }}</div>
                        <div>{{ image.caption }}</div>

                        <div><a href="/account/images/edit/{{image.pk}}">Edit</a></div>
                        <div><a href="/account/images/delete/{{image.pk}}">Delete</a></div>
                    </div>
                </div>
                
            </div>
    {% endfor %}            



{% endblock %}