{% extends "account/base.html" %}
{% load upload_tags %}
{% load account_tags %}
{% load crispy_forms_tags %}
{% crispy form form.helper %}




{% block head_title %}Distributor Admin{% endblock %}

{% block body %}
    {% if user.is_superuser %}
<div class="container">

    
        <legend>Manage Distributor</legend>



	{% crispy form %}


{% else %}

    <h1>You May have reached this page in error or you don't have access to this page</h1>

{% endif %}

</div>



{% endblock %}