{% extends "account/base.html" %}
{% load upload_tags %}
{% load account_tags %}




{% block head_title %}Account{% endblock %}

{% block body %}
    {% if user.is_superuser %}
<div class="container">

    
        <legend>Manage Products</legend>

<table class="table">
    <thead>
        <tr>
            <th><a href="/account/product/add/"><i class="icon-plus icon-white"></i></a></th>
            <th></th>
            <th></th>

            <th>Title</th>
            <th>Description</th>
            <th>Distributor(s)</th>
            <th>Thumbnail</th>
           
        </tr>
    </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>
                    <a href="/account/product/delete/{{product.pk}}"><i class="icon-remove icon-white"></i></a>
                </td>
                <td>
                    <a href="/account/product/edit/{{product.pk}}"><i class="icon-edit icon-white"></i></a>
                </td>
                <td>
                    <a href="/account/product/{{product.pk}}/images"><i class="icon-picture icon-white"></i></a>
                </td>

                <td>{{product.Name}}</td>
                <td>{{product.Description}}</td>
                <td>
                    {% for distributors in product.distributors.all %}
                
                <ul>
                    <li>
                        <a href="{{ distributors.URL }}">{{ distributors.Name }}</a>
                    </li>
                </ul>


            {% endfor %}

                </td>

                <td>
                    {% if product.PriImage %}
                    <img src="{{product.PriImage.url}}">
                    {% endif %}
                </td>

                
            </tr>

            {% endfor %}
             
    </tbody>
</table>       


<!-- Distributors -->

<legend>Manage Distributors</legend>

<table class="table">
    <thead>
        <tr>
            <th><a href="/account/product/distributor/add/"><i class="icon-plus icon-white"></i></a></th>
            <th></th>
            <th></th>

            <th>Distributor</th>
            <th>URL</th>

           
        </tr>
    </thead>
        <tbody>
            {% for distributor in distributors %}
            <tr>
                <td>
                    <a href="/account/product/distributor/delete/{{distributor.pk}}"><i class="icon-remove icon-white"></i></a>
                <td>
                <td>
                    <a href="/account/product/distributor/edit/{{distributor.pk}}"><i class="icon-edit icon-white"></i></a>
                </td>


                <td>
                    {{distributor.Name}}
                </td>
                <td>
                    {{distributor.URL}}
                </td>
                
            </tr>

            {% endfor %}
             
    </tbody>
</table>       

{% else %}

    <h1>You May have reached this page in error or you don't have access to this page</h1>

{% endif %}

</div>



{% endblock %}