{% extends "account/base.html" %}
{% load upload_tags %}


{% block head_title %}Account{% endblock %}

{% block body %}
<div class="container">

        <legend>Manage Product Images</legend>

                <div class="row">
            <a href="add/"><span class="btn btn-primary fileinput-button offset1">
                    <i class="icon-plus icon-white"></i>
                    <span>Add Images</span>
            </span></a>
        </div>
                <hr>

    {% for product in object_list %}

        <div id="gallery-{{ product.pk }}" data-toggle="modal-gallery" data-target="#modal-gallery">

                
                <div class="span2 thumbnail"><a href="{{ MEDIA_URL }}{{ product.file }}" rel="gallery"><img src="{{product.file.url_250x250}}" alt=""></a>
                    <div class="caption">

                        <div>{{ product.title }}</div>
                        <div>{{ product.caption }}</div>

                        <div><a href="/account/product/{{product.product.id}}/images/image/{{product.id}}/edit">Edit</a></div>
                        <div><a href="/account/product/{{product.product.id}}/images/image/{{product.id}}/delete">Delete</a></div>
                    </div>
                </div>
                
            </div>
    {% endfor %}            



{% endblock %}