{% extends "account/base.html" %}
{% load account_tags %}

    

{% load upload_tags %}
{% load crispy_forms_tags %}
{% crispy form form.helper %}


{% block head_title %}Account{% endblock %}

{% block body %}

<div class="container">

    
        <legend>Manage Artists</legend>


    {% crispy form %}
    

</div>

{% endblock %}