{% extends "account/base.html" %}
{% load upload_tags %}
{% load account_tags %}

    

{% block head_title %}Account{% endblock %}

{% block body %}
{% if user.is_superuser %}
<div class="container">

        <legend>Manage Article Images</legend>
        <div class="row">
            <a href="add/"><span class="btn btn-primary fileinput-button offset1">
                    <i class="icon-plus icon-white icon-white"></i>
                    <span>Add Images</span>
            </span></a>
        </div>
                <hr>
    {% for image in object_list %}

        <div id="gallery-{{ event.pk }}" data-toggle="modal-gallery" data-target="#modal-gallery">

                
                <div class="span2 thumbnail"><a href="{{ MEDIA_URL }}{{ image.file }}" rel="gallery"><img src="{{image.file.url_250x250}}" alt=""></a>
                    <div class="caption">
                        <div>{{ image.article }}</div>
                        <div>Page No: {{ image.pgnumber }}</div>
                        <div><a href="/account/press/article/{{ image.article.id }}/pages/page/{{image.pk}}/edit/">Edit</a></div>
                        <div><a href="/account/press/article/{{ image.article.id }}/pages/page/{{image.pk}}/delete/">Delete</a></div>
                    </div>
                </div>
                
            </div>
    {% endfor %}            


{% else %}


    <h1>You May have reached this page in error or you don't have access to this page</h1>

{% endif %}


</div>



{% endblock %}