{% extends "account/base.html" %}
{% load upload_tags %}
{% load account_tags %}




{% block head_title %}Account{% endblock %}

{% block body %}
{% if user.is_superuser %}
<div class="container">

    
        <legend>Manage Artists</legend>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th>Artist</th>
            <th>Instagram</th>
            <th>Bio</th>
            <th></th>
           
        </tr>
    </thead>
        <tbody>
            {% for artist in object_list %}
            <tr>
                <td><a href="delete/{{artist.pk}}"><i class="icon-remove icon-white"></i></a> </td>
                <td><a href="edit/{{artist.pk}}"><i class="icon-edit icon-white"></i></a></td>
                <td><a href="{{artist.pk}}/images"><i class="icon-picture icon-white"></i></a></td>
                <td>{{artist.user}}</td>
                <td>{{artist.instagram}}</td>
                <td>{{artist.bio}}</td>

                
            </tr>

            {% endfor %}
             
    </tbody>
</table>    

{% else %}
    <h1>You May have reached this page in error or you don't have access to this page</h1>

{% endif %}

</div>






{% endblock %}