{% extends "account/base.html" %}
{% load account_tags %}

    

{% load upload_tags %}
{% load crispy_forms_tags %}
{% crispy form form.helper %}


{% block head_title %}Account{% endblock %}

{% block body %}
{% if user.is_superuser %}
<div class="container">

    
        <legend>Manage Artists</legend>


    {% crispy form %}
    
{% else %}


	<h1>You May have reached this page in error or you don't have access to this page</h1>

{% endif %}

</div>

{% endblock %}