{% extends "subnav_base.html" %}

{% load url from future %}
{% load account_tags %}
{% load i18n %}

{% block body_class %}account{% endblock %}

{% block subnav %}
    <ul class="nav nav-list">
        <li class="nav-header">{% trans "Account" %}</li>
        <li><a href="{% url "upload-artist-images" %}">Upload Images</a></li>
        <li><a href="{% url "manage-artist-images" %}">Manage Images</a></li>
        <li><a href="{% url "account_settings" %}">{% trans "Settings" %}</a></li>
        <li><a href="{% url "account_password" %}">{% trans "Change password" %}</a></li>
    </ul>
    	{% if user.is_superuser %}
<br>
		<ul class="nav nav-list">
			<li class="nav-header">Admin</li>
			<li><a href="/account/artists">Artists</a></li>
			<li><a href="/account/product">Merchandise</a></li>
			<li><a href="/account/news">News</a></li>
			<li><a href="/account/press/articles">Press</a></li>
			<li><a href="/account/community">Community</a></li>
			<li><a href="/account/carousel">Carousel</a></li>

		</ul>


	{% endif %}
{% endblock %}