{% extends "account/base.html" %}
{% load upload_tags %}


{% block head_title %}Manage Carousel Images{% endblock %}

{% block body %}
<div class="container">



        <legend>Manage Carousel Images</legend>

                    <div class="row">
            <a href="images/add/"><span class="btn btn-primary fileinput-button offset1">
                    <i class="icon-plus icon-white"></i>
                    <span>Add Images</span>
            </span></a>
        </div>
                <hr>

    {% for image in object_list %}

        <div id="gallery" data-toggle="modal-gallery" data-target="#modal-gallery">

                
                <div class="span2 thumbnail"><a href="{{ MEDIA_URL }}{{ image.file }}" rel="gallery"><img src="{{image.file.url_250x250}}" alt=""></a>
                    <div class="caption">


                        <div><a href="/account/carousel/images/{{image.pk}}/delete/">Delete</a></div>
                    </div>
                </div>
                
            </div>
    {% endfor %}            



{% endblock %}