{% extends "account/base.html" %}
{% load upload_tags %}
{% load account_tags %}

    

{% block head_title %}Account{% endblock %}

{% block body %}
{% if user.is_superuser %}
<div class="container">

        <legend>Manage Community Event Images</legend>
        <div class="row">
            <a href="add/"><span class="btn btn-primary fileinput-button offset1">
                    <i class="icon-plus icon-white"></i>
                    <span>Add Images</span>
            </span></a>
        </div>
                <hr>


    {% for image in object_list %}

        <div id="gallery-{{ image.event.id }}" data-toggle="modal-gallery" data-target="#modal-gallery">

                
                <div class="span2 thumbnail"><a href="{{ MEDIA_URL }}{{ image.file }}" rel="gallery"><img src="{{image.file.url_125x125}}" alt=""></a>
                    <div class="caption">
                        <div>{{ image.event }}</div>
                        <div><a href="/account/community/event/{{ image.event.id}}/images/image/{{ image.pk }}/delete/">Delete</a></div>
                    </div>
                </div>
                
            </div>

    {% endfor %}            


{% else %}


    <h1>You May have reached this page in error or you don't have access to this page</h1>

{% endif %}


</div>



{% endblock %}