{% extends "account/base.html" %}

{% load i18n %}
{% load bootstrap_tags %}

{% block head_title %}Delete Account{% endblock %}

{% block main_content %}
    <h1>Delete Account</h1>
    
    <p>If you go ahead and delete your account, your information will be <b>expunged within {{ ACCOUNT_DELETION_EXPUNGE_HOURS }} hours</b>.</p>
    
    <form method="post" action="{% url account_delete %}" autocapitalize="off">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Delete My Account</button>
    </form>
    
{% endblock %}
