{% extends "account/base.html" %}
{% load upload_tags %}
{% load account_tags %}




{% block head_title %}Account{% endblock %}

{% block body %}
    {% if request.user.is_superuser %}
<div class="container">

    
        <legend>Manage articles</legend>

<table class="table">
    <thead>
        <tr>
            <th><a href="add/"><i class="icon-plus icon-white"></i></a></th>

            <th></th>
            <th>Event Title</th>
            <th>Content</th>
            <th></th>
           
        </tr>
    </thead>
        <tbody>
            {% for article in object_list %}
            <tr>
                <td><a href="{{article.pk}}/delete"><i class="icon-remove icon-white"></i></a> </td>
                <td><a href="{{article.pk}}/edit"><i class="icon-edit icon-white"></i></a></td>


                <td>{{article.title}}</td>
                <td>{{article.content}}</td>

                
            </tr>

            {% endfor %}
             
    </tbody>
</table>        

{% else %}

    <h1>You May have reached this page in error or you don't have access to this page</h1>

{% endif %}

</div>



{% endblock %}