{% extends "account/base.html" %}
{% load upload_tags %}
{% load account_tags %}




{% block head_title %}Account{% endblock %}

{% block body %}
    {% if user.is_superuser %}
<div class="container">

    
        <legend>Manage events</legend>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th>Event</th>
            <th>Description</th>
            <th></th>
           
        </tr>
    </thead>
        <tbody>
            {% for event in object_list %}
            <tr>
                <td><a href="delete/{{event.pk}}"><i class="icon-remove icon-white"></i></a> </td>
                <td><a href="edit/{{event.pk}}"><i class="icon-edit icon-white"></i></a></td>
                <td><a href="images/{{event.pk}}"><i class="icon-picture icon-white"></i></a></td>
                <td>{{event.title}}</td>
                <td>{{event.description}}</td>

                
            </tr>

            {% endfor %}
             
    </tbody>
</table>        

{% else %}

    <h1>You May have reached this page in error or you don't have access to this page</h1>

{% endif %}

</div>



{% endblock %}