{% load account_tags %}
<ul class="nav pull-right">
    {% if request.user.is_authenticated %}
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                {% user_display request.user %}
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li><a href="{% url account_settings %}"><i class="icon-user icon-white"></i> Settings</a></li>
                <li><a href="{% url manage-artist-images %}"><i class="icon-picture icon-white"></i> Manage Images</a></li>
                <li><a href="{% url upload-artist-images %}"><i class="icon-plus icon-white"></i> Upload Images</a></li>
                <li class="divider"></li>
                <li><a href="{% url account_logout %}"><i class="icon-off icon-white"></i> Log out</a></li>
            </ul>
        </li>
    {% else %}
        <li><a href="{% url account_login %}">Log in</a></li>
        {% if ACCOUNT_OPEN_SIGNUP %}
            <li class="navbar-text">or</li>
            <li><a href="{% url account_signup %}">Sign up</a></li>
        {% endif %}
    {% endif %}
</ul>