
<!-- modal-gallery is the modal dialog used for the image gallery -->
<div id="modal-gallery" class="modal modal-gallery hide fade">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">&times;</a>
        <h3 class="modal-title"></h3>
    </div>
    <div class="modal-body"><div class="modal-image"></div></div>
    
</div>




<div id="gallery" data-toggle="modal-gallery" data-target="#modal-gallery">
{% for image in image_list %}



		
		<div class="span2.5 thumbnail">
			<a href="{{ MEDIA_URL }}{{ image.file }}" rel="gallery" class="thumbnail"><img src="{{ image.file.url_250x250}}" alt=""></a>
					<div class="caption">
					<div>Title: {{image.title}}</div>
					<div>Caption: {{image.caption}}</div>
					</div>
				</div>

{% endfor %}				
			</div>


	

