{% block body %}
<!-- modal-gallery is the modal dialog used for the image gallery -->
<div id="modal-gallery" class="modal modal-gallery hide fade">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">&times;</a>
        <h3 class="modal-title"></h3>
    </div>
    <div class="modal-body"><div class="modal-image"></div></div>
    
</div>

{% for event in events %}

		{% ifchanged event.title %} <div class="row span12"><hr> <h1 style="padding-bottom:15px" id="{{ event.title }}">{{ event.title }}</h1></div> {% endifchanged %}



				<div class="span12">{% autoescape off %} {{ event.description }}{% endautoescape %}</div>

		<br />
		<br />

			<div id="gallery-{{ event.pk }}" data-toggle="modal-gallery" data-target="#modal-gallery">

				{% for image in event.communitypicture_set.all %}
				<div class="span2"><a href="{{ MEDIA_URL }}{{ image.file }}" rel="gallery"><img class="thumbnail" src="{{image.file.url_125x125}}" alt=""></a></div>
				{% endfor %}
			</div>
	{% endfor %}	

	
{% endblock %}
