<ul class="nav nav-pills">
    <li><a href="/shop">blah blah</a></li>
    <li class="dropdown" id="artists">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#tab_two"> Artists 
            <b class="caret"></b>
        </a>
            <ul class="dropdown-menu">
                {% for artist in artistNav %}
                <li><a href="/artists/{{ artist.slug }}">{{ artist.displayName }}</a></li>
                {% endfor %}
            </ul>
    </li>
    <li><a href="/news">News</a></li>
    <li><a href="/press">Press</a></li>
    <li><a href="/product">Merchandise</a></li>
    <li><a href="/community">Community</a></li>
</ul>
