{% extends "account/base.html" %}
{% load upload_tags %}


{% block head_title %}Account{% endblock %}

{% block body %}
<div class="container">

    <div class="page-header">
        <h1>Django Jquery file upload demo</h1>
    </div>
    


{% endblock %}