{% extends "account/base.html" %}
{% load upload_tags %}
{% load account_tags %}




{% block head_title %}Account{% endblock %}

{% block body %}
    {% if user.is_superuser %}
<div class="container">

    
        <legend>Manage Articles</legend>

<table class="table">
    <thead>
        <tr>
            <th><a href="/account/press/article/add/"><i class="icon-plus icon-white"></i></a></th>
            <th></th>
            <th></th>
            <th>Title</th>
            <th>Publication</th>
            <th>Year</th>
            <th>Thumbnail</th>
           
        </tr>
    </thead>
        <tbody>
            {% for article in object_list %}
            <tr>
                <td><a href="article/delete/{{article.pk}}"><i class="icon-remove icon-white"></i></a> </td>
                <td><a href="article/edit/{{article.pk}}"><i class="icon-edit icon-white"></i></a></td>
                <td><a href="/account/press/article/{{article.pk}}/pages"><i class="icon-picture icon-white"></i></a></td>
                <td>{{article.title}}</td>
                <td>{{article.publication}}</td>
                <td>{{article.year}}</td>
                <td><img src="{{article.thumbnail.url_250x250}}"></td>

                
            </tr>

            {% endfor %}
             
    </tbody>
</table>       

{% else %}

    <h1>You May have reached this page in error or you don't have access to this page</h1>

{% endif %}

</div>



{% endblock %}