{% extends "site_base.html" %}

{% load i18n %}

{% block body_base %}
    <div class="container">
        {% include "_messages.html" %}
        <div class="hero-unit well">
        <img src="{{ STATIC_URL }}img/SOG-panorama.jpg" class="shop-panorama">
        </div>
        
        <div class="row">
            <div class="span3">
            {% block column-1 %}
                <a href="/shop"><h3>blah blah</h3></a>
                <p>Founded in 2002, blah of blah is a professional tattoo shop
                with the highest standards for art and cleanliness. We are
                located at 221 blah blah in blah blah, blah. We are open 7 days
                a week and while traditional blah tattooing is our specialty, our staff is well versed in a variety of styles. Appointments are recommended but walk-ins are welcome too! Please take a minute to check out our portfolios! Thank you.</p>
                
                
            {% endblock %}
            </div>
            <div class="span3">
            {% block column-2 %}
                <a href="/product"><h3>Books</h3></a>
                
            {% endblock %}
            </div>
            <div class="span3">
            {% block column-3 %}
                
                
            {% endblock %}
            </div>
            <div class="span3">
            {% block column-4 %}
                <a href="/community"><h3>Community</h3></a>
                
                
            {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
