{% extends "inner-site_base.html" %}

{% load i18n %}

{% block body_base %}
    <div class="container">
        {% include "_messages.html" %}

        
{% for item in merchandise %}
	<div class="row">
		<div class="span6"><h2><a href="/product/{{item.slug}}">{{ item.Name }}</a></h2></div>
	</div>
	<div class="row">
		<div class="span2"><img src="{{ item.PriImage.url }}"></div>
		<div class="row">
		<div class="span6">
			<p>{{ item.Description }}</p>
			<h4>Available at:</h4>
			{% for distributors in item.distributors.all %}
				
				<ul>
					<li>
						<a href="{{ distributors.URL }}">{{ distributors.Name }}</a>
					</li>
				</ul>


			{% endfor %}
		</div>
		</div>

	</div>
	{% endfor %}
    </div>

 
{% endblock %}
