{% extends "inner-site_base.html" %}

{% load i18n %}

{% block body_base %}
    <div class="container">
        {% include "_messages.html" %}

        
        {% for item in news %}
        	<h2>{{ item.title }}</h2>
        	{% autoescape off %} 
        		{{ item.content }} 
        	{% endautoescape %}
        {% endfor %}
    </div>
            
 
{% endblock %}
