{% extends "inner-site_base.html" %}

{% load i18n %}

{% block body_base %}
    <div class="container">
        {% include "_messages.html" %}

        
{% for item in object_list %}
	<div class="row">
		<div class="span6"><h2>{{ item.Name }}</h2></div>
	</div>
	<div class="row">
		<div class="span2"><img src="{{ item.PriImage.url }}"></div>
		<div class="row">
		<div class="span6">
			<p>{{ item.Description }}</p>
			<h4>Available at:</h4>
			{% for distributors in item.distributors.all %}
				
				<ul>
					<li>
						<a href="{{ distributors.URL }}">{{ distributors.Name }}</a>
					</li>
				</ul>


			{% endfor %}
		</div>
		</div>

	</div>
	<br />
	<br />
	<br />
	<div class="row">
		{% for image in item.productimage_set.all %}



			<img src="{{ image.file.url_250x250 }}" class="thumbnail span2">

		{% endfor %}
	</div>

    </div>
{% endfor %}
 
{% endblock %}
