{% extends "inner-site_base.html" %}

{% load i18n %}

{% block body_base %}
    <div class="container">
        {% include "_messages.html" %}



 {% for artist in object_list %}
    <div class="row">
        <h2 class="span4">{{ artist.displayName }} </h2>
        
        
    </div>
    <div class="row">
        <div class="span4"><a href="http://web.stagram.com/n/{{artist.instagram_url}}/"><img src="{{ STATIC_URL}}/img/Instagram_Icon_Small.png" /> <strong>{{ artist.instagram }}</a></strong></div>
        <div class="span8">{{ artist.bio }}</div>
    </div>
    <div class="row">
        
    </div>

    <hr>

        <div class="row">
            
        </div>
        <div class="row">
            
        </div>
{% endfor %}
        



<br />
<br />
        {% block gallery %}
              {% include '_artist_gallery.html' %}
        {% endblock %}

    </div>
            
 
{% endblock %}
