{% extends "inner-site_base.html" %}

{% load i18n %}

{% block body_base %}
    <div class="container">
        {% include "_messages.html" %}
        
        <div class="row">
          <div class="span3">
            <blockquote>
              <div><strong>Open: </strong>7 days a week</div>
              <div><strong>Hours: </strong>11AM - 7PM </div>
              <div><strong>Phone: </strong>(408) 441-7770</div>
            </blockquote>
            <h4>Notice:</h4>
              </div>
              
            
          </div>
          <div class="span5">
            <div id="carousel" class="carousel slide">
              <div class="carousel-inner">
                {% for image in carouselImages %}
                
                  <div class="item {% ifchanged %} active {% endifchanged %}">

                  <img src="{{image.file.url}}" height="640" width="427" alt="">
                </div>
                {% endfor %}
              </div>
              <a class="left carousel-control" href="#carousel" data-slide="prev">‹</a>
              <a class="right carousel-control" href="#carousel" data-slide="next">›</a>
              </div>
            </div>
            <div class="span4">
              <ul>
                <h4>Events</h4>
                {% for event in events %}
                <li><a href="/community#{{event.title}}">{{ event.title }}</a></li>
                {% endfor %}
                <h4>News</h4>
                {% for post in news %}
                <li><a href="/news#{{ post.title }}"{{ post.title }}</li>
                {% endfor %}
                <h4>Press</h4>
                {% for article in press %}
                <li><a href="/press#{{article.title}}">{{ article.title }} | {{ article.publication }}</a></li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
            


        
        

{% endblock %}
