{% extends "account/base.html" %}
{% load upload_tags %}
{% load account_tags %}




{% block head_title %}Account{% endblock %}

{% block body %}
    {% if user.is_superuser %}
<div class="container">

    
        <legend>Manage events</legend>

<table class="table">
    <thead>
        <tr>
            <th><a href="#"><i class="icon-plus"></i></a></th>
            <th></th>
            <th>Article</th>
            <th>Page Number</th>
            <th>Thumbnail</th>
           
        </tr>
    </thead>
        <tbody>
            {% for page in object_list %}
            <tr>
                <td><a href="delete/{{page.pk}}"><i class="icon-remove"></i></a> </td>
                <td><a href="edit/{{page.pk}}"><i class="icon-edit"></i></a></td>
                <td>{{page.article}}</td>
                <td>{{page.pgnumber}}</td>
                <td><a href="{{ MEDIA_URL }}{{page.file}}" target="_blank">{{ page.file }}</a></td>

                
            </tr>

            {% endfor %}
             
    </tbody>
</table>        

{% else %}

    <h1>You May have reached this page in error or you don't have access to this page</h1>

{% endif %}

</div>



{% endblock %}