{% extends "account/base.html" %}
{% load upload_tags %}
{% load account_tags %}

    

{% block head_title %}Confirm Delete{% endblock %}

{% block body %}
{% if user.is_superuser %}
<div class="container">
    <div class="page-header">
        <h1>Delete {{ object.file.name }}?</h1>
    </div>
    <img src="{{ object.file.url_250x250 }}" alt="">

    <form method="post" action="" class="form">{% csrf_token %}
        <div class="form-actions">
            <button type="submit" class="btn btn-danger"><i class="icon-trash icon-white"></i> Delete</button>
            <button type="button" onclick="window.history.back();" class="btn"><i class="icon-remove"></i> Cancel</button>
        </div>
    </form>

{% else %}

    <h1>You May have reached this page in error or you don't have access to this page</h1>

{% endif %}

</div>
    


{% endblock %}